:root {
    --heading-margin-bottom: 40px;
    --heading-border: 10px;
    --heading-border-color: black;
    --heading-image-max-width: 500px;
    --heading-radius: 0px;
}

.heading-component {
    display: flex;
    justify-content: center;
    margin-bottom: var(--heading-margin-bottom);

    & img {
        border: var(--heading-border) solid var(--heading-border-color);
        border-radius: var(--heading-radius);
        max-width: var(--heading-image-max-width);
        width: 100%;
    }
}
